@font-face {
	font-family: 'eightyshades';
	src:url('../fonts/eightyshades.eot');
	src:url('../fonts/eightyshades.eot?#iefix') format('embedded-opentype'),
		url('../fonts/eightyshades.woff') format('woff'),
		url('../fonts/eightyshades.ttf') format('truetype'),
		url('../fonts/eightyshades.svg#eightyshades') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'eightyshades';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.ekl-icon-store:before, .ekl-icon-out:before, .ekl-icon-in:before, .ekl-icon-in-alt:before, .ekl-icon-home:before, .ekl-icon-light-bulb:before, .ekl-icon-anchor:before, .ekl-icon-feather:before, .ekl-icon-expand:before, .ekl-icon-maximize:before, .ekl-icon-search:before, .ekl-icon-zoom-in:before, .ekl-icon-zoom-out:before, .ekl-icon-add:before, .ekl-icon-subtract:before, .ekl-icon-exclamation:before, .ekl-icon-question:before, .ekl-icon-close:before, .ekl-icon-cmd:before, .ekl-icon-forbid:before, .ekl-icon-forbid-2:before, .ekl-icon-spinner:before, .ekl-icon-play:before, .ekl-icon-stop:before, .ekl-icon-pause:before, .ekl-icon-forward:before, .ekl-icon-rewind:before, .ekl-icon-sound:before, .ekl-icon-sound-alt:before, .ekl-icon-sound-off:before, .ekl-icon-task:before, .ekl-icon-inbox:before, .ekl-icon-inbox-alt:before, .ekl-icon-envelope:before, .ekl-icon-compose:before, .ekl-icon-newspaper:before, .ekl-icon-newspaper-alt:before, .ekl-icon-clipboard:before, .ekl-icon-calendar:before, .ekl-icon-hyperlink:before, .ekl-icon-trash:before, .ekl-icon-trash-alt:before, .ekl-icon-grid:before, .ekl-icon-grid-alt:before, .ekl-icon-menu:before, .ekl-icon-list:before, .ekl-icon-gallery:before, .ekl-icon-calculator:before, .ekl-icon-windows:before, .ekl-icon-browser:before, .ekl-icon-alarm:before, .ekl-icon-clock:before, .ekl-icon-attachment:before, .ekl-icon-settings:before, .ekl-icon-portfolio:before, .ekl-icon-user:before, .ekl-icon-users:before, .ekl-icon-heart:before, .ekl-icon-chat:before, .ekl-icon-comments:before, .ekl-icon-screen:before, .ekl-icon-iphone:before, .ekl-icon-ipad:before, .ekl-icon-fork-and-spoon:before, .ekl-icon-fork-and-knife:before, .ekl-icon-instagram:before, .ekl-icon-facebook:before, .ekl-icon-delicious:before, .ekl-icon-googleplus:before, .ekl-icon-dribbble:before, .ekl-icon-pin:before, .ekl-icon-pin-alt:before, .ekl-icon-camera:before, .ekl-icon-brightness:before, .ekl-icon-brightness-half:before, .ekl-icon-moon:before, .ekl-icon-cloud:before, .ekl-icon-circle-full:before, .ekl-icon-circle-half:before, .ekl-icon-globe:before {
	font-family: 'eightyshades';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ekl-icon-store:before {
	content: "\e000";
}
.ekl-icon-out:before {
	content: "\e001";
}
.ekl-icon-in:before {
	content: "\e002";
}
.ekl-icon-in-alt:before {
	content: "\e003";
}
.ekl-icon-home:before {
	content: "\e004";
}
.ekl-icon-light-bulb:before {
	content: "\e005";
}
.ekl-icon-anchor:before {
	content: "\e006";
}
.ekl-icon-feather:before {
	content: "\e007";
}
.ekl-icon-expand:before {
	content: "\e008";
}
.ekl-icon-maximize:before {
	content: "\e009";
}
.ekl-icon-search:before {
	content: "\e00a";
}
.ekl-icon-zoom-in:before {
	content: "\e00b";
}
.ekl-icon-zoom-out:before {
	content: "\e00c";
}
.ekl-icon-add:before {
	content: "\e00d";
}
.ekl-icon-subtract:before {
	content: "\e00e";
}
.ekl-icon-exclamation:before {
	content: "\e00f";
}
.ekl-icon-question:before {
	content: "\e010";
}
.ekl-icon-close:before {
	content: "\e011";
}
.ekl-icon-cmd:before {
	content: "\e012";
}
.ekl-icon-forbid:before {
	content: "\e013";
}
.ekl-icon-forbid-2:before {
	content: "\e014";
}
.ekl-icon-spinner:before {
	content: "\e015";
}
.ekl-icon-play:before {
	content: "\e016";
}
.ekl-icon-stop:before {
	content: "\e017";
}
.ekl-icon-pause:before {
	content: "\e018";
}
.ekl-icon-forward:before {
	content: "\e019";
}
.ekl-icon-rewind:before {
	content: "\e01a";
}
.ekl-icon-sound:before {
	content: "\e01b";
}
.ekl-icon-sound-alt:before {
	content: "\e01c";
}
.ekl-icon-sound-off:before {
	content: "\e01d";
}
.ekl-icon-task:before {
	content: "\e01e";
}
.ekl-icon-inbox:before {
	content: "\e01f";
}
.ekl-icon-inbox-alt:before {
	content: "\e020";
}
.ekl-icon-envelope:before {
	content: "\e021";
}
.ekl-icon-compose:before {
	content: "\e022";
}
.ekl-icon-newspaper:before {
	content: "\e023";
}
.ekl-icon-newspaper-alt:before {
	content: "\e024";
}
.ekl-icon-clipboard:before {
	content: "\e025";
}
.ekl-icon-calendar:before {
	content: "\e026";
}
.ekl-icon-hyperlink:before {
	content: "\e027";
}
.ekl-icon-trash:before {
	content: "\e028";
}
.ekl-icon-trash-alt:before {
	content: "\e029";
}
.ekl-icon-grid:before {
	content: "\e02a";
}
.ekl-icon-grid-alt:before {
	content: "\e02b";
}
.ekl-icon-menu:before {
	content: "\e02c";
}
.ekl-icon-list:before {
	content: "\e02d";
}
.ekl-icon-gallery:before {
	content: "\e02e";
}
.ekl-icon-calculator:before {
	content: "\e02f";
}
.ekl-icon-windows:before {
	content: "\e030";
}
.ekl-icon-browser:before {
	content: "\e031";
}
.ekl-icon-alarm:before {
	content: "\e032";
}
.ekl-icon-clock:before {
	content: "\e033";
}
.ekl-icon-attachment:before {
	content: "\e034";
}
.ekl-icon-settings:before {
	content: "\e035";
}
.ekl-icon-portfolio:before {
	content: "\e036";
}
.ekl-icon-user:before {
	content: "\e037";
}
.ekl-icon-users:before {
	content: "\e038";
}
.ekl-icon-heart:before {
	content: "\e039";
}
.ekl-icon-chat:before {
	content: "\e03a";
}
.ekl-icon-comments:before {
	content: "\e03b";
}
.ekl-icon-screen:before {
	content: "\e03c";
}
.ekl-icon-iphone:before {
	content: "\e03d";
}
.ekl-icon-ipad:before {
	content: "\e03e";
}
.ekl-icon-fork-and-spoon:before {
	content: "\e03f";
}
.ekl-icon-fork-and-knife:before {
	content: "\e040";
}
.ekl-icon-instagram:before {
	content: "\e041";
}
.ekl-icon-facebook:before {
	content: "\e042";
}
.ekl-icon-delicious:before {
	content: "\e043";
}
.ekl-icon-googleplus:before {
	content: "\e044";
}
.ekl-icon-dribbble:before {
	content: "\e045";
}
.ekl-icon-pin:before {
	content: "\e046";
}
.ekl-icon-pin-alt:before {
	content: "\e047";
}
.ekl-icon-camera:before {
	content: "\e048";
}
.ekl-icon-brightness:before {
	content: "\e049";
}
.ekl-icon-brightness-half:before {
	content: "\e04a";
}
.ekl-icon-moon:before {
	content: "\e04b";
}
.ekl-icon-cloud:before {
	content: "\e04c";
}
.ekl-icon-circle-full:before {
	content: "\e04d";
}
.ekl-icon-circle-half:before {
	content: "\e04e";
}
.ekl-icon-globe:before {
	content: "\e04f";
}
